
<div class="product" *ngFor="let product of products; index as i">

  <img class="product__img" [src]="product.img" alt="">

  <div class="product__info">
    <h1 class="product__info-title">{{ product.title }}</h1>
    <p class="product__info-description">{{ product.description }}</p>
    <p class="product__price">
      <label *ngIf="accountProduts !== undefined">{{accountProduts[i].amount}} * </label>
      ${{ product.price }}
    </p>
  </div>

  <div class="product__request" *ngIf="accountProduts === undefined">
    <ion-button class="product__request-btn" (click)="addOrRemoveInput(+1, i)" color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>

    <div class="product__request-content-input">
      <ion-input #inputs class="product__request-input" 
        (keyup)="validKeyInput(i)" (ionBlur)="blurInput(i)" value="1"></ion-input>
    </div>

    <ion-button class="product__request-btn" (click)="addOrRemoveInput(-1, i)" color="primary">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
    <ion-button class="product__request-btn" color="primary"
      (click)="addOrder(product, i)">
      <ion-icon name="add-outline"></ion-icon> Orden
    </ion-button>
  </div>

</div>
