<div class="content-menu" *ngIf="!viewOptions">
    <ion-button class="content-menu__input" 
        color="danger"
        (click)="selectOptionsType('food')">Para comer</ion-button>
    <ion-button class="content-menu__input content-menu__input-two" 
        color="danger"
        (click)="selectOptionsType('drink')">BEBIDAS</ion-button>
    <ion-button class="content-menu__input content-menu__input-three" 
        color="danger"
        (click)="selectOptionsType('shop')">schop</ion-button>
</div>

<div class="contenct-options" *ngIf="viewOptions">
    <ion-button class="contenct-options__option" *ngFor="let option of menuOptions.options" 
        (click)="setOption(option)"
        color="danger">{{option}}</ion-button>
</div>