.content-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    &__input{
        width: 80%;
        position: relative;
        left: -100%;
        animation: view-left 0.8s;
        animation-fill-mode: forwards;
    }
    &__input-two{
        animation-delay: 0.1s;
    }
    &__input-three{
        animation-delay: 0.2s;
    }
}

.contenct-options{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__btn-zone{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
}

@keyframes view-left {
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}