.contentAccount{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__value-acount{
        margin-left: 20px;
    }
}

.contentAccount--viewPedido{
    height: auto;
    align-items: flex-start;
}

.products{
    height: calc(100% - 61px);
    overflow-y: scroll;
    &__product{
        border-bottom: 1px solid #666666;
    }
}

.btn-cancel{
    position: absolute;
    bottom: 60px;
    right: 20px;
}

.loadAccount{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__content-img{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 150px;
        animation-name: increment;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &__text{
        display: flex;
    }
    &__point{
        width: 5px;
        height: 5px;
        margin: 0px 5px;
        position: relative;
        top: 10px;
        background: #fff;
        border-radius: 50%;
        opacity: 0;
        animation-name: pointView;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &__point-two{
        animation-delay: 500ms;
    }
    &__point-three{
        animation-delay: 700ms;
    }
}

@keyframes increment {
    0%{
        width: 150px;
    }
    50%{
        width: 250px;
    }
    100%{
        width: 150px;
    }
}

@keyframes pointView {
    from{
        opacity: 0.7;
    }
    to{
        opacity: 0.1;
    }
}